/* ================================================
    RESET GERAL E VARIÁVEIS DE CORES
   ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores principal usada no projeto */
:root {
    --black: #000000;
    --white: #ffffff;
    --white2: #f5f8fa;
    --grey: #808080;
    --red: #e20000;
    --greyBorder: #c3c3c3;
    --placeholder: #5a5a5a;
    
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow2: rgba(0, 0, 0, 0.2);
    --redShadow: rgba(255, 0, 0, 0.1);
    --color3Shadow: rgb(227, 0, 117, 0.2);
    --color4Shadow: rgb(255, 74, 74, 0.2);
    --color5shadow: rgba(255, 178, 25, 0.2);
    --color6Shadow: rgba(97, 92, 92, 0.5);
    --color8Shadow: rgba(37, 228, 117, 0.2);
    --color9Shadow: rgb(183, 6, 228, 0.2);

    --color1: #ebe8e8;   /* Fundo principal (claro) */
    --color2: #e8e8e8;   /* Fundo secundário */
    --color3: #e30075;   /* Cor escura para textos */
    --color4: #ff4a4a;   /* Vermelho (erros ou alertas) */
    --color5: #ffb319;   /* Amarelo (hover de botões) */
    --color5Hover: #e39e13; /* Amarelo escuro (hover de botões) */
    --color6: #615c5c;   /* cinza (hover alternativo de botões) */
    --color9: #b706e4;
    --color8: #25e475;   /* Verde (sucesso) */

    --lightgrey: #d3d3d3; /* Bordas e separadores suaves */
    --lightgrey2: #e3e3e3; /* Bordas e separadores suaves */

}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    background: var(--color5);
}

.navigationBar {
    height: 100%;
    width: 100px;
    background: var(--white);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 0 20px var(--shadow2);
    transition: all 0.5s ease-in-out;
}

.navigationBar:hover {
    width: 250px;
}

.container {
    display: flex;
    height: 100%;
    padding: 20px;
    width: 100%;
    gap: 20px;
    border: 1px solid red;
}

.boxItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemOne,
.itemTwo {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.itemOne {
    background: var(--white2);
    position: relative;
}

.itemTwo {
    background: var(--red);
}

.itemThree {
    border-radius: 20px;
    width: 60%;
    height: 100%;
    background: var(--white2);
    padding: 20px;
    display: flex;
    flex-direction: column; /* Empilha a barra de pesquisa e a lista */
    overflow: hidden;
    align-items: center;
}
/*==============================================
    STYLES - Search Bar
==============================================*/
.seachBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.seachBar input[type="search"] {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--lightgrey);
    padding: 0 15px;
    font-size: 16px;
    color: var(--black);
    box-shadow: 0 6px 5px var(--shadow2);
    border: none;
}

.itemThree ul {
    border-radius: 20px;
    flex: 1;                 
    height: 100%;            
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 90%;
    background: var(--white);
    box-shadow: 0 6px 5px var(--shadow2);
}

.itemThree ul li {
    list-style: none;
    width: 100%;
    height: 40px;
    display: flex;
}

.itemThree ul li a {
    border-radius: 50px;
    text-decoration: none;
    color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    font-size: 0.965rem;
    background: var(--lightgrey);
    box-shadow: 0px 6px 5px var(--shadow2);
}

.itemThree ul li a:hover {
    transform: scale(1.01);
    background: var(--lightgrey2);
}

.nameAluno {
    border-left: 1px solid var(--grey);
    padding: 0 10px;
}

.iconAluno {
    border: 1px solid var(--greyBorder);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    color: var(--black);
    margin-left: auto;
}

/*==============================================
    STYLES - Alunos
==============================================*/

#Alunos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.importAlunos {
    position: relative;
    padding: 15px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    border-radius: 12px;
    gap: 10px;
    box-shadow: 0 6px 5px var(--shadow2);
}

.coutAlunos {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    color: var(--color5);
    font-weight: 500;
    font-size: 1.2rem;
}

.importAlunos i {
    font-weight: 600;
}

#alunosCount {
    position: absolute;
    right: 20px;
    top: 25px;
    margin-left: auto;
    color: var(--black);
    font-size: 2.5rem;
}

.bntImportAlunos {
    width: 100%;
    display: flex;
    gap: 10px;
}

.bntFileBody, .bntCadastrarAluno {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 4px 4px 5px var(--shadow2);
    transition: all 0.1s ease;
}

.bntFileBody:hover, .bntCadastrarAluno:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 4px 4px 7px var(--shadow2);
}

.bntFileBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--white);
    background: linear-gradient(145deg, var(--color5), var(--color3));
}

.fileBody {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--shadow2);
}

.fileContent {
    position: relative;
    width: 600px;
    background: var(--white);
    border-radius: 12px;
}

.headerFileContent {
    padding: 20px 35px;
    font-size: 1.5rem;
    font-weight: 500;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--lightgrey);
}

#closedFileBody {
    position: absolute;
    right: 35px;
    top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--black);
    border-radius: 8px;
    padding: 5px;
    transition: all 0.1s ease;
}

#closedFileBody:hover {
    background: var(--lightgrey);
}

.containerFileContent {
    height: max-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.containerFileContent p {
    font-size: 1rem;
    color: var(--black);
    font-weight: 500;
    margin-bottom: 10px;
}

.containerFileContent p span {
    text-decoration: underline;
}

.btnUploadCustom {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color5);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: background 0.3s;
}

.btnUploadCustom:hover {
    background-color: var(--color8);
}

#fileNameDisplay {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

.bntsFinish {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
}

.bntsFinish button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0 4px 5px var(--shadow2);
}

.bntsFinish button:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 7px var(--shadow2);
    cursor: pointer;
}

.btnCancelFile {
    background: var(--lightgrey2);
    color: var(--black);
    transition: all 0.1s ease;
}

.btnCancelFile:hover {
    background: var(--color4);
    color: var(--white);
}

.btnImportFile {
    background: var(--color5);
    color: var(--white);
    transition: all 0.1s ease;
}

.cadastrarAlunoBody {
    display: none;
    position: absolute;
    width: 100%;
    height: min-content;
    background: var(--white);
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 500;
    padding: 20px;
    box-shadow: 0 8px 6px var(--shadow2);
    animation: slideDownCA 0.3s ease-in-out;
}

.headerCA {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--lightgrey);
}

.headerCA i {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 8px;
}

.headerCA i:hover {
    background: var(--lightgrey);
    cursor: pointer;
}

.containerCampsCA {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: var(--white);
    border-radius: 8px;
}

.campCA {
    position: relative;
    flex-grow: 1;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: border 0.3s ease;
}

.campCA:nth-child(1),
.campCA:nth-child(2) {
    flex-basis: calc(50% - 10px);
}

.campCA:nth-child(3) {
    flex-basis: 100%;
}


.campCA input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--black);
    padding-left: 5px;
    z-index: 2;
    caret-color: var(--color5);
}

.campCA label {
    position: absolute;
    left: 20px;
    color: var(--grey);
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;
    background: var(--white);
    padding: 0 5px;
}

.campCA input:focus + label,
.campCA input:not(:placeholder-shown) + label {
    transform: translateY(-28px);
    font-size: 0.8rem;
    color: var(--color5);
    margin-left: 5px;
    margin-top: 15px;
    font-weight: 600;
}

.campCA:has(input:focus) {
    border: 1px solid var(--color5);
}

.btnsCA {
    height: min-content;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.btnsCA button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0 4px 4px var(--shadow2);
}

.btnsCA button:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 5px 8px var(--shadow2);
}

#btnCancelCA {
    background: var(--lightgrey2);
    transition: all 0.1s ease;
}

#btnCancelCA:hover {
    background: var(--color4);
    color: var(--white);
}

#btnSaveCA {
    background: var(--color5);
}

@keyframes slideDownCA {
    0% {
        opacity: 0;
        top: -20px;
        height: 0;
    }

    100% {
        opacity: 1;
        top: 0;
        height: 100%;
    }
}