/* ================================================
    RESET GERAL E VARIÁVEIS DE CORES
   ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores principal usada no projeto */
:root {
    --black: #000000;
    --white: #ffffff;
    --white2: #f5f8fa;
    --grey: #808080;
    --red: #e20000;
    --green: #00ae49;
    --greyBorder: #c3c3c3;
    --placeholder: #5a5a5a;
    
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow2: rgba(0, 0, 0, 0.2);
    --redShadow: rgba(255, 0, 0, 0.1);
    --color3Shadow: rgb(227, 0, 117, 0.2);
    --color4Shadow: rgb(255, 74, 74, 0.2);
    --color5shadow: rgba(255, 178, 25, 0.2);
    --color6Shadow: rgba(97, 92, 92, 0.5);
    --color8Shadow: rgba(37, 228, 117, 0.2);
    --color9Shadow: rgb(183, 6, 228, 0.2);

    --color1: #ebe8e8;   /* Fundo principal (claro) */
    --color2: #e8e8e8;   /* Fundo secundário */
    --color3: #e30075;   /* Cor escura para textos */
    --color4: #ff4a4a;   /* Vermelho (erros ou alertas) */
    --color5: #ffb319;   /* Amarelo (hover de botões) */
    --color5Hover: #e39e13; /* Amarelo escuro (hover de botões) */
    --color6: #615c5c;   /* cinza (hover alternativo de botões) */
    --color9: #b706e4;
    --color8: #25e475;   /* Verde (sucesso) */

    --lightgrey: #d3d3d3; /* Bordas e separadores suaves */
    --lightgrey2: #e3e3e3; /* Bordas e separadores suaves */

}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    height: 100%;
    display: flex;
    background: linear-gradient(
        145deg,
        var(--color5) 0%,
        var(--color5) 25%,
        var(--color6) 25%,
        var(--color6) 75%,
        var(--color5) 75%,
        var(--color5) 100%
    );
    background-position: 0 0, 100% 100%;
    background-repeat: no-repeat;
}

.backMain {
    position: fixed;
    text-decoration: none;
    top: 25px;
    left: 6px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--color4);
    box-shadow: 0px 5px 6px var(--shadow2);
    cursor: pointer;
    color: var(--white);
    transition: all 0.2s ease;
    z-index: 100;
}

.backMain:hover {
    transform: scale(1.01);
    color: var(--black);
    box-shadow: 0 6px 7px var(--red);
}

.container {
    margin-left: 100px;
    display: flex;
    height: 100%;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.boxItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .itemOne, */
.itemTwo {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    height: max-content;
}

.itemOne {
    background: var(--white2);
    position: relative;
    height: min-content;
    border-radius: 20px;
    width: 100%;
}

.itemThree {
    border-radius: 20px;
    width: 60%;
    height: 100%;
    background: var(--white2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

/*==============================================
    STYLES - Search Bar
==============================================*/
.seachBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.seachBar input[type="search"] {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--lightgrey);
    padding: 0 15px;
    font-size: 16px;
    color: var(--black);
    box-shadow: 0 6px 5px var(--shadow2);
    border: none;
}

.itemThree ul {
    border-radius: 20px;
    flex: 1;                 
    height: 100%;            
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 90%;
    background: var(--white);
    box-shadow: 0 6px 5px var(--shadow2);
}

.itemThree ul li {
    list-style: none;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.itemThree ul li a {
    border-radius: 50px;
    text-decoration: none;
    color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    font-size: 0.965rem;
    background: var(--lightgrey);
    box-shadow: 0px 6px 5px var(--shadow2);
}

.itemThree ul li a:hover {
    transform: scale(1.01);
    background: var(--lightgrey2);
}

.infoAluno {
    display: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    animation: downInfoAluno 0.5s ease-in-out;
}

.infoAluno .info-content {
    margin-top: 10px;
    padding: 15px; 
    background: var(--grey); 
    border-radius: 8px;
    box-shadow: 0px 5px 4px var(--shadow);
}

.info-actions {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.editAluno, .deletAluno, .exportarAluno {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 10px; 
    cursor: pointer; 
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: var(--black);
    font-weight: 500;
    box-shadow: 0px 4px 5px var(--shadow2);
    transition: all 0.1s ease;
}

.editAluno {
    background: var(--white);
}

.editAluno:hover {
    background: var(--color5);
    color: var(--white);
    box-shadow: 0px 4px 5px var(--color5Hover);
    transform: scale(1.01);
}

.deletAluno {
    color: var(--white);
    background: var(--color4);
}

.deletAluno:hover {
    color: var(--red);
    box-shadow: 0px 4px 5px var(--red);
    transform: scale(1.01);
}

.exportarAluno {
    color: var(--white);
    background: var(--color8);
}

.exportarAluno:hover {
    color: var(--green);
    box-shadow: 0px 4px 5px var(--green);
    transform: scale(1.01);
}

@keyframes downInfoAluno {
    0% {
        opacity: 0;
        top: -20px;
        height: 0;
    }

    100% {
        opacity: 1;
        top: 0;
        height: 100%;
    }
}

.nameAluno {
    border-left: 1px solid var(--grey);
    padding: 0 10px;
}

.iconAluno {
    border: 1px solid var(--greyBorder);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    color: var(--black);
    margin-left: auto;
}

/*==============================================
    STYLES - Alunos
==============================================*/

#Alunos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.importAlunos {
    position: relative;
    padding: 15px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    border-radius: 12px;
    gap: 10px;
    box-shadow: 0 6px 5px var(--shadow2);
}

.coutAlunos {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    color: var(--color5);
    font-weight: 500;
    font-size: 1.2rem;
}

.importAlunos i {
    font-weight: 600;
}

#alunosCount {
    position: absolute;
    right: 20px;
    top: 25px;
    margin-left: auto;
    color: var(--black);
    font-size: 2.5rem;
}

.bntImportAlunos {
    width: 100%;
    display: flex;
    gap: 10px;
}

.bntFileBody, .bntCadastrarAluno {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 4px 4px 5px var(--shadow2);
    transition: all 0.1s ease;
}

.bntFileBody:hover, .bntCadastrarAluno:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 4px 4px 7px var(--shadow2);
}

.bntFileBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--white);
    background: linear-gradient(145deg, var(--color5), var(--color3));
}

.fileBody {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--shadow2);
}

.fileContent {
    position: relative;
    width: 600px;
    background: var(--white);
    border-radius: 12px;
}

.headerFileContent {
    padding: 20px 35px;
    font-size: 1.5rem;
    font-weight: 500;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--lightgrey);
}

#closedFileBody {
    position: absolute;
    right: 35px;
    top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--black);
    border-radius: 8px;
    padding: 5px;
    transition: all 0.1s ease;
}

#closedFileBody:hover {
    background: var(--lightgrey);
}

.containerFileContent {
    height: max-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.containerFileContent p {
    font-size: 1rem;
    color: var(--black);
    font-weight: 500;
    margin-bottom: 10px;
}

.containerFileContent p span {
    text-decoration: underline;
}

.btnUploadCustom {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color5);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: background 0.3s;
}

.btnUploadCustom:hover {
    background-color: var(--color8);
}

#fileNameDisplay {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

.bntsFinish {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
}

.bntsFinish button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0 4px 5px var(--shadow2);
}

.bntsFinish button:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 7px var(--shadow2);
    cursor: pointer;
}

.btnCancelFile {
    background: var(--lightgrey2);
    color: var(--black);
    transition: all 0.1s ease;
}

.btnCancelFile:hover {
    background: var(--color4);
    color: var(--white);
}

.btnImportFile {
    background: var(--color5);
    color: var(--white);
    transition: all 0.1s ease;
}

.cadastrarAlunoBody {
    display: none;
    position: absolute;
    width: 100%;
    height: min-content;
    background: var(--white);
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 500;
    padding: 20px;
    box-shadow: 0 8px 6px var(--shadow2);
    animation: slideDownCA 0.3s ease-in-out;
}

.headerCA {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--lightgrey);
}

.headerCA i {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 8px;
}

.headerCA i:hover {
    background: var(--lightgrey);
    cursor: pointer;
}

.containerCampsCA {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: var(--white);
    border-radius: 8px;
    height: max-content;
}

.campCA {
    position: relative;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: border 0.3s ease;
}

.campCA input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--black);
    padding-left: 5px;
    z-index: 2;
    caret-color: var(--color5);
}

.campCA label {
    position: absolute;
    left: 20px;
    color: var(--grey);
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;
    background: var(--white);
    padding: 0 5px;
}

.campCA input:focus + label,
.campCA input:not(:placeholder-shown) + label {
    transform: translateY(-28px);
    font-size: 0.8rem;
    color: var(--color5);
    margin-left: 5px;
    margin-top: 15px;
    font-weight: 600;
}

.campCA:has(input:focus) {
    border: 1px solid var(--color5);
}

.btnsCA {
    height: min-content;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.btnsCA button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0 4px 4px var(--shadow2);
    transition: all 0.1s ease;
}

.btnsCA button:hover {
    cursor: pointer;
    color: var(--white);
    transform: scale(1.01);
    box-shadow: 0 6px 7px var(--shadow2);
}

#btnCancelCA {
    background: var(--lightgrey2);
    transition: all 0.1s ease;
}

#btnCancelCA:hover {
    background: var(--color4);
}

#btnSaveCA {
    background: var(--color5);
}

#btnSaveCA:hover {
    background: var(--color8);
}

@keyframes slideDownCA {
    0% {
        opacity: 0;
        top: -20px;
        height: 0;
    }

    100% {
        opacity: 1;
        top: 0;
        height: 100%;
    }
}

/*==============================================
    STYLES - Notas
==============================================*/

.itemTwo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: var(--white2);
}

.componentsNotas {
    background: var(--white);
    height: 125px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    padding: 15px;
    gap: 10px;
    box-shadow: 0 6px 5px var(--shadow2);
}

.components,
.notas {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: 2px dashed var(--lightgrey);
}

.components h2,
.notas h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black);
}

.components p,
.notas p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color5);
}

.provasCamp {
    position: relative;
}

/* ==============================================
    STYLES - Edit Component Body (Semelhante ao containerCampsCA)
   ============================================== */

.editCompBody {
    display: none; 
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 6px 5px var(--shadow2);
    border: 1px solid var(--lightgrey2);
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    animation: openAddComp 0.4s ease-in-out;
}

.headerEditComp {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

#closedEditComp {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: var(--grey);
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#closedEditComp:hover {
    background-color: var(--lightgrey);
    color: var(--color4);
    transform: scale(1.1);
}

.campCompEdit {
    position: relative;
    height: 40px;
    width: 100%;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: border 0.3s ease;
}

.campCompEdit input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--black);
    padding-left: 5px;
    z-index: 2;
    caret-color: var(--color5);
}

.campCompEdit label {
    position: absolute;
    left: 20px;
    color: var(--grey);
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;
    background: var(--white);
    padding: 0 5px;
}

.campCompEdit input:focus + label,
.campCompEdit input:not(:placeholder-shown) + label {
    transform: translateY(-28px);
    font-size: 0.8rem;
    color: var(--color5);
    margin-left: 5px;
    top: 20px;
    font-weight: 600;
}

.campCompEdit:has(input:focus) {
    border: 1px solid var(--color5);
}

.btnsEditComp {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btnsEditComp button {
    padding: 10px 20px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 6px var(--shadow2);
}

#cancelEditComp {
    background: var(--lightgrey);
    transition: all 0.1s ease;
}

#cancelEditComp:hover {
    box-shadow: 0px 6px 7px var(--shadow2);
    background: var(--color4);
    transform: scale(1.01);
    color: var(--white);
}

#saveEditComp {
    background: var(--color5);
    transition: all 0.1s ease;
}

#saveEditComp:hover {
    color: var(--white);
    box-shadow: 0px 6px 7px var(--shadow2);
    transform: scale(1.01);
    background: var(--color8);
}

.headerComponents {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.headerComponents h2 {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 500;
}

.buttonsComponents {
    display: flex;
    gap: 10px; 
}

.btnEditComp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: none;
}

.btnEditComp:hover {
    background: var(--lightgrey);
}

.btnAddComp {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(145deg, var(--color5), var(--color3));
    color: var(--white);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px var(--shadow2);
    transition: all 0.1s ease;
}

.btnAddComp i {
    font-size: 0.9rem;
    font-weight: 600;
}

.btnAddComp:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 4px 4px 8px var(--shadow);
}

.viewDatailsComp {
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
    display: flex;
    gap: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.viewDatailsComp::-webkit-scrollbar {
    height: 5px;
    background: var(--color1);
    border-radius: 8px;
}

.viewDatailsComp::-webkit-scrollbar-thumb {
    background: var(--lightgrey);
    border-radius: 50px;
    cursor: pointer;
}

.detailP {
    white-space: nowrap;
    gap: 5px;
    display: flex;
    border-radius: 5px;
    padding: 4px 12px;
    font-size: 0.865rem;
    font-weight: 500;
    color: var(--color4);
    background: var(--color4Shadow);
}

.addComponents {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    border-top: 2px dashed var(--lightgrey);
    animation: openAddComp 0.5s ease-in-out;
}

@keyframes openAddComp {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

.provasCamp {
    width: 100%;
    background: var(--white);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 6px 5px var(--shadow2);
}

.campsPR {
    display: flex;
    gap: 20px;
}

.campPR {
    position: relative;
    width: 100%;
    height: 45px;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: border 0.3s ease;
}

.campPR input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--black);
    padding-left: 5px;
    z-index: 2;
    caret-color: var(--color5);
}

.campPR label {
    position: absolute;
    left: 20px;
    color: var(--grey);
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;
    background: var(--white);
    padding: 0 5px;
}

.campPR input:focus + label,
.campPR input:not(:placeholder-shown) + label {
    transform: translateY(-28px);
    font-size: 0.8rem;
    color: var(--color5);
    margin-left: 5px;
    font-weight: 600;
    top: 20px;
}

.campPR:has(input:focus),
.campPR:has(textarea:focus) {
    border: 1px solid var(--color5);
}

.campPR:has(textarea) {
    height: auto;
    min-height: 120px;
    border-radius: 20px;
    padding: 15px;
    align-items: flex-start;
}

.campPR textarea {
    width: 100%;
    height: 100%;
    min-height: 90px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--black);
    resize: none;
    z-index: 2;
    font-family: "Roboto", sans-serif;
}

.campPR textarea:focus + label,
.campPR textarea:not(:placeholder-shown) + label {
    transform: translateY(-35px);
    font-size: 0.8rem;
    color: var(--color5);
    margin-left: 5px;
    top: 27px;
    font-weight: 600;
}

.buttonsComp {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.buttonsComp button {
    background: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 4px 5px var(--shadow2);
}

#cancelComp {
    background: var(--lightgrey);
}

#cancelComp:hover {
    background: var(--color4);
    transform: scale(1.01);
    color: var(--white);
    box-shadow: 0 5px 10px var(--shadow);
}

#saveComp {
    background: var(--color5);
}

#saveComp:hover {
    color: var(--white);
    box-shadow: 0px 6px 7px var(--shadow2);
    transform: scale(1.01);
    background: var(--color8);
}

.notasBody {
    background: var(--white);
    height: min-content;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    box-shadow: 0 6px 5px var(--shadow2);
}

.headerNotas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    height: min-content;
    padding-bottom: 15px;
    border-bottom: 2px dashed var(--lightgrey);

}

.headerNotas h2 {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 500;
}

.btnNotasEdit {
    display: flex;
    gap: 10px;
}

.headerNotas button {
    border: 1px solid var(--lightgrey);
    padding: 10px 20px;
    border-radius: 6px;
    background: none;
    transition: all 0.1s ease;
}

.headerNotas button:hover {
    background: var(--lightgrey);
    cursor: pointer;
}

.btnDeteleComp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: none;
    color: var(--color4);
}

.btnDeteleComp:hover {
    background: var(--color4Shadow);
}

.deleteCompBody {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--shadow2);
    padding: 24px;
    min-width: 320px;
    max-width: 90vw;
    animation: openDeleteCompBody 0.5s ease-in-out;
}

@keyframes openDeleteCompBody {
    0% {
        opacity: 0;
        top: -20px;
        height: 0;
    }

    100% {
        opacity: 1;
        top: 0;
        height: 100%;
    }
}

.headerDeleteComp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#closedDeleteComp {
    background: none;
    border: none;
    font-size: 1em;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

#closedDeleteComp:hover  {
    background: var(--lightgrey);
}

.selectCompDelete {
    margin-bottom: 16px;
}

#selectCompToDelete {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}

.btnsDeleteComp {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

#cancelDeleteComp {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    background: var(--lightgrey);
    border: none;
    transition: all 0.1s ease;
}

#cancelDeleteComp:hover {
    color: var(--white);
    background: var(--grey);
    box-shadow: 0px 4px 5px var(--shadow2);
    transform: scale(1.01);
}

#confirmDeleteComp {
    background: var(--color4);
    color: var(--white);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#confirmDeleteComp:hover {
    color: var(--red);
    box-shadow: 0px 4px 5px var(--shadow2);
    transform: scale(1.01);
}

/*==============================================
    STYLES - Tabela de Lançamento de Notas
==============================================*/

/* Container da Tabela */
.itensNotas {
    width: 100%;
    margin-top: 15px;
    overflow-x: auto; 
    border: 1px solid var(--lightgrey2);
    border-radius: 12px;
    background: var(--white);
    box-shadow: 0 6px 5px var(--shadow2); 
}

.itensNotas table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px; 
}

/* Cabeçalho da Tabela */
.itensNotas thead tr {
    border-bottom: 2px solid var(--lightgrey); 
}

.itensNotas th {
    padding: 14px 16px;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color6);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap; 
}

.itensNotas tbody tr {
    border-bottom: 1px solid var(--lightgrey2); 
    transition: background 0.2s ease;
    cursor: pointer;
}

.itensNotas tbody tr:last-child {
    border-bottom: none;
}

.itensNotas tbody tr:hover {
    background-color: var(--lightgrey2); 
}

.itensNotas td {
    padding: 14px 16px;
    font-size: 0.95rem;
    color: var(--black);
    vertical-align: middle;
}

.itensNotas .raTable {
    font-weight: 500;
    color: var(--color6);
    font-size: 0.9rem;
}

/* Coluna do Nome */
.itensNotas .nameTable {
    font-weight: 500;
    min-width: 200px;
}

.itensNotas .siglaProvaTable {
    text-align: center;
    width: 100px;
}

.itensNotas .notaSiglaTable {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color5);
    cursor: text;
    border: 1px solid var(--grey);
    width: min-content;
}

.itensNotas .notaSiglaTable input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    background: var(--lightgrey);
    max-width: 60px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    cursor: not-allowed;
}

.itensNotas .input-nota:disabled {
    background: var(--lightgrey);
    color: var(--grey);
    cursor: not-allowed;
}

.itensNotas .input-nota:not(:disabled) {
    background: var(--white);
    cursor: text;
}

.itensNotas .input-nota.baixa {
    color: var(--color4); 
}

.itensNotas .mediaNotaTable {
    text-align: center;
    font-weight: 700;
}

.itensNotas .mediaNotaTable.baixa {
    color: var(--color4);
    background-color: var(--color4Shadow);
}

.itensNotas .mediaNotaTable.alta {
    color: var(--color8);
    background-color: var(--color8Shadow);
}