/* ================================================
    RESET GERAL E VARIÁVEIS DE CORES
   ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores principal usada no projeto */
:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #808080;

    --shadow: rgba(0, 0, 0, 0.2);

    --color1: #ebe8e8;
    --color2: #e8e8e8;
    --color3: #e30075;
    --color4: #ff4a4a;
    --color5: #ffb319;
    --color6: #615c5c;

    --lightgrey: #d3d3d3;
}

/* ================================================
    CONFIGURAÇÃO DO BODY
   ================================================ */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    /* box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border-radius: 50px; */
    width: 100%;
    max-width: 480px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}

.container h1 {
    color: var(--black);
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 50%;
    /* height: auto; */
}

.modal {
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 40px 30px;
    width: 100%;
    position: relative;
}


.modal h2{
    color: #333333;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 350;
}

.inputEmail {
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 50px;
    width: 100%;
    padding: 0 20px;
    height: 45px;
    background: var(--color1);
    margin-bottom: 20px;
}

.inputEmail input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    background: var(--color1);
    height: 100%;
}


input {
    caret-color: var(--color5);
}

.inputEmail label {
    position: absolute;
    z-index: 100;
    margin-left: 8px;
    transition: all 0.3s ease;
    background: var(--color1);
    font-size: 1rem;
    color: var(--grey);
    pointer-events: none;
    padding: 0 0 5px 0;
}


.inputEmail:has(input:focus),
.inputEmail:has(input:not(:placeholder-shown)) {
    border: 1px solid var(--color5);
}

.inputEmail input:focus+label,
.inputEmail input:not(:placeholder-shown)+label {
    margin-bottom: 45px;
    margin-left: 20px;
    font-size: 0.875rem;
    padding: 0px 4px;
    color: var(--color5);
}

.solicitar-btn {
    padding: 10px 40px;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: background-color 0.5s ease;
}

.solicitar-btn:hover,
.solicitar-btn:focus {
    background-color: var(--color5);
    color: var(--black);
    outline: none;
}

.solicitar-btn:active {
    transform: translateY(1px);
}

.voltarLogin {
    margin-top: 15px;
}

.voltarLogin a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
    font-weight: 500;
}

.voltarLogin a:hover,
.voltarLogin a:focus {
    text-decoration: none;
    color: var(--color5);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}