/* ================================================
    RESET GERAL E VARIÁVEIS DE CORES
   ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores principal usada no projeto */
:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #808080;

    --shadow: rgba(0, 0, 0, 0.2);

    --color1: #ebe8e8;
    --color2: #e8e8e8;
    --color3: #e30075;
    --color4: #ff4a4a;
    --color5: #ffb319;
    --color6: #615c5c;

    --lightgrey: #d3d3d3;
}

/* ================================================
    CONFIGURAÇÃO DO BODY
   ================================================ */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 180px;
    max-width: 200px;
    margin-left: -10px;
}

.modal {
    border: none;
    border-radius: 20px;
    padding: 40px 30px;
    width: 100%;
    position: relative;
}

.modal h1 {
    text-align: center;
    color: #333;
    font-size: 21.67px;
    margin-bottom: 25px;
    font-weight: 500;
}

.inputNewPassword {
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 50px;
    width: 100%;
    padding: 0 20px;
    height: 45px;
    background: var(--color1);
    margin-bottom: 15px;
}

.inputNewPassword input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.inputNewPassword input::placeholder {
    color: #999;
}

.inputNewPassword input:hover,
.inputNewPassword input:focus{
    text-decoration: none;
    color: var(--color5);
    border-color: 1px solid var(--color5);
    outline: none;
    transition: color 0.2s ease;
}

.change-email {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.change-email a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

.change-email a:hover,
.change-email a:focus {
    text-decoration: none;
    color: var(--color5);
    outline: none;
    transition: color 0.2s ease;
}

.modify-btn {
    width: 100%;
    padding: 16px;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.modify-btn:hover,
.modify-btn:focus {
    background-color: var(--color5);
    color: var(--black);
    outline: none;
}

.modify-btn:active {
    transform: translateY(1px);
}