/* AUTOR: Miguel Fernandes Monteiro - RA: 25014808 */

/* ================================================
    RESET GERAL E VARIÁVEIS DE CORES
   ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores principal usada no projeto */
:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #808080;

    --shadow: rgba(0, 0, 0, 0.2);

    --color1: #ebe8e8;
    --color2: #e8e8e8;
    --color3: #e30075;
    --color4: #ff4a4a;
    --color5: #ffb319;
    --color6: #615c5c;
    --color7: #25e475;

    --lightgrey: #d3d3d3;
}

/* ================================================
    CONFIGURAÇÃO DO BODY
   ================================================ */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 50%;
    height: auto;
}

.modal {
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 40px 30px;
    width: 100%;
    position: relative;
    gap: 20px;
}

.modal h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 500;
}

.inputNewPassword {
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 50px;
    width: 100%;
    padding: 0 20px;
    height: 45px;
    background: var(--color1);
    margin-bottom: 15px;
}

.inputNewPassword input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    background: var(--color1);
    height: 100%;
}

.eyes-password {
    cursor: pointer;
    color: var(--grey);
}

.eyes-password:hover {
    color: var(--color5);
}

input {
    caret-color: var(--color5);
}

.inputNewPassword label {
    position: absolute;
    z-index: 100;
    margin-left: 8px;
    transition: all 0.3s ease;
    background: var(--color1);
    font-size: 1rem;
    color: var(--grey);
    pointer-events: none;
    padding: 0 0 5px 0;
}


.inputNewPassword:has(input:focus),
.inputNewPassword:has(input:not(:placeholder-shown)) {
    border: 1px solid var(--color5);
}

.inputNewPassword input:focus+label,
.inputNewPassword input:not(:placeholder-shown)+label {
    margin-bottom: 47px;
    margin-left: 20px;
    font-size: 0.875rem;
    padding: 0px 4px;
    color: var(--color5);
}

.change-email {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.change-email a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

.change-email a:hover,
.change-email a:focus {
    text-decoration: none;
    color: var(--color5);
    outline: none;
    transition: color 0.2s ease;
}

.modify-btn {
    padding: 10px 40px;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: background-color 0.5s ease;
}


.modify-btn:hover,
.modify-btn:focus {
    background-color: var(--color5);
    color: var(--black);
    outline: none;
}

.modify-btn:active {
    transform: translateY(1px);
}

/* Divs com erro - Borda vermelha */
.inputNewPassword.error{
    border: 1px solid var(--color4) !important;
    animation: shake 0.3s ease-in-out;
}

/* Animação de tremer */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-3px); }
    20%, 40%, 60%, 80% { transform: translateX(3px); }
}

/* Label com erro dentro das divs */
.inputNewPassword.error label{
    color: var(--color4) !important;
    font-weight: 600;
}

/* Remove o erro ao focar no input */
.inputNewPassword.error input:focus {
    outline: none;
}