<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="idtBody" id="cursosBody">
    <div class="headerIdt">
        <div class="titleIdt">
            <div class="iconAndTitle">
                <i class="ph ph-books"></i>
                <h1>Cursos</h1>
            </div>
            <p>Gerencie os cursos que você leciona</p>
        </div>
        <button class="newIdt">
            <i class="ph ph-plus"></i>
            Novo curso
        </button>
    </div>
    <div class="cardIdt">
        <div class="iconIdt">
            <i class="ph ph-books"></i>
        </div>
        <h3>Nenhum curso cadastrado</h3>
        <p>Clique no botão "Novo curso" para começar</p>
        <div class="createIdt">
            <div class="titleCreateIdt">
                <h2>Novo curso</h2>
                <button>
                    <i class="ph ph-x" id="xClosedCreate"></i>
                </button>
            </div>
            <div class="campIdt">
                <p>Instituição</p>
                <input list="listInstituicao" type="text" placeholder="Selecione a instituição" id="instituicao">
                <datalist id="listInstituicao"></datalist>
                <label for="text"></label>
            </div>
            <div class="campIdt">
                <p>Nome do curso</p>
                <input type="text" id="nomeDoCurso" placeholder="Ex: Engenharia de Software">
                <label for="text"></label>
            </div>
            <div class="campIdt" id="disciplinasAdicionadosCamp">
                <p>Disciplinas Adicionadas</p>
                <div class="cursosEdidCamp">
                    <div class="linkDatailsIdt"></div>
                </div>
            </div>
            <div class="campIdt" id="addCursoEdit">
                <p>Adicionar Disciplina</p>
                <div class="cursosEdidCamp">
                    <div class="linkDatailsIdt">
                        Banco de Dados
                        <i class="ph ph-plus" id="cursoAddinIntituicoes"></i>
                    </div>
                </div>
            </div>
            <div class="campIdt" id="deletCursoEdit">
                <p>Deletar Disciplina</p>
                <div class="cursosEdidCamp">
                    <div class="linkDatailsIdt">
                        Cálculo I
                        <i class="ph ph-trash" id="cursoDeletinIntituicoes"></i>
                    </div>
                </div>
            </div>
            <div class="buttonsCheck">
                <button id="cancelBtnIdt">Cancelar</button>
                <button id="createBtnIdt">Criar</button>
            </div>
        </div>
    </div>
    <div class="cardsCreateIdt">
        <div class="contentCardIdt">
            <i class="ph ph-books" id="cursosIcon"></i>
            <div class="textContentCardIdt">
                <h2></h2>
                <p></p>
            </div>
            <div class="editAndDelet">
                <button class="addCurso">
                    <i class="ph ph-plus"></i>
                </button>
                <button class="editCard">
                    <i class="ph ph-pencil-simple"></i>
                </button>
                <button class="deletCard">
                    <i class="ph ph-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="containerAddIdt">
        <div class="headerAddIdt">
            <i class="ph ph-link-simple"></i>
            <h3>Linkar Disciplinas</h3>
            <i class="ph ph-x" id="closedAdd"></i>
        </div>
        <div class="campIdt">
            <p>Selecione a Disciplina</p>
            <input type="text" list="listDisciplinasLink" placeholder="Ex: Projeto Integrador">
            <datalist id="listDisciplinasLink"></datalist>
            <label for="text"></label>
        </div>
        <div class="buttonsCheckAddIdt">
            <button id="cancelAddIdt">Cancelar</button>
            <button id="saveAddIdt">Adicionar</button>
        </div>
    </div>
</div>

</html>