<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="idtBody" id="instituicoesBody">
    <div class="headerIdt">
        <div class="titleIdt">
            <div class="iconAndTitle">
                <i class="ph ph-buildings" id="iconBuildings"></i>
                <h1>Instituições</h1>
            </div>
            <p>Gerencie as instituições onde você leciona</p>
        </div>
        <button class="newIdt">
            <i class="ph ph-plus"></i>
            Nova instituição
        </button>
    </div>
    <div class="cardIdt">
        <div class="iconIdt">
            <i class="ph ph-buildings"></i>
        </div>
        <h3>Nenhuma instituição cadastrada</h3>
        <p>Clique no botão "Nova Instituição" para começar</p>
        <div class="createIdt">
            <div class="titleCreateIdt">
                <h2>Nova Instituição</h2>
                <button>
                    <i class="ph ph-x" id="xClosedCreate"></i>
                </button>
            </div>
            <div class="campIdt">
                <p>Nome da Instituição</p>
                <input type="text" placeholder="Ex: PUC-Campinas">
                <label for="text"></label>
            </div>
            <div class="campIdt">
                <p>Cursos Adicionados</p>
                <div class="cursosEdidCamp">
                    <div class="linkDatailsIdt">Engenharia de Software</div>
                </div>
            </div>
            <div class="campIdt" id="addCursoEdit">
                <p>Adicionar Curso</p>
                <div class="cursosEdidCamp">
                    <div class="linkDatailsIdt">
                        Engenharia da Computação
                        <i class="ph ph-plus" id="cursoAddinIntituicoes"></i>
                    </div>
                </div>
            </div>
            <div class="campIdt" id="deletCursoEdit">
                <p>Deletar Curso</p>
                <div class="cursosEdidCamp">
                    <div class="linkDatailsIdt">
                        Direito
                        <i class="ph ph-trash" id="cursoDeletinIntituicoes"></i>
                    </div>
                </div>
            </div>
            <div class="buttonsCheck">
                <button id="cancelBtnIdt">Cancelar</button>
                <button id="createBtnIdt">Criar</button>
            </div>
        </div>
    </div>
    <div class="cardsCreateIdt">
        <div class="contentCardIdt">
            <i class="ph ph-buildings"></i>
            <div class="textContentCardIdt">
                <h2></h2>
                <div class="viewDetailsIC">
                    <div class="linkDatailsIdt"></div>
                </div>
            </div>
            <div class="editAndDelet">
                <button class="addCurso">
                    <i class="ph ph-plus"></i>
                </button>
                <button class="editCard">
                    <i class="ph ph-pencil-simple"></i>
                </button>
                <button class="deletCard">
                    <i class="ph ph-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="containerAddIdt">
        <div class="headerAddIdt">
            <i class="ph ph-link-simple"></i>
            <h3>Linkar Curso</h3>
            <i class="ph ph-x" id="closedAdd"></i>
        </div>
        <div class="campIdt">
            <p>Selecione o Curso</p>
            <input type="text" list="listCursosLink" placeholder="Ex: Engenharia de Software">
            <datalist id="listCursosLink"></datalist> 
            <label for="text"></label>
        </div>
        <div class="buttonsCheckAddIdt">
            <button id="cancelAddIdt">Cancelar</button>
            <button id="saveAddIdt">Adicionar</button>
        </div>
    </div>
</div>
</html>