<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turmas</title>
</head>

<div class="idtBody" id="turmasBody">
    <div class="headerIdt">
        <div class="titleIdt">
            <div class="iconAndTitle">
                <i class="ph ph-users" id="iconUsers"></i>
                <h1>Turmas</h1>
            </div>
            <p>Gerencie as turmas das suas disciplinas</p>
        </div>
        <button class="newIdt">
            <i class="ph ph-plus"></i>
            Nova Turma
        </button>
    </div>

    <div class="cardsCreateIdt" style="display: none;">
        </div>

    <div class="cardIdt">
        <div class="iconIdt">
            <i class="ph ph-users"></i>
        </div>
        <h3>Nenhuma turma cadastrada</h3>
        <p>Clique no botão "Nova Turma" para começar</p>
        
        <div class="createIdt">
            <div class="titleCreateIdt">
                <h2>Nova Turma</h2>
                <button>
                    <i class="ph ph-x" id="xClosedCreate"></i>
                </button>
            </div>
            <div class="campIdt">
                <p>Curso</p>
                <input list="listTurma" type="text" placeholder="Selecione o curso" id="inputCursoTurma">
                <datalist id="listTurma"></datalist>
            </div>
            <div class="campIdt">
                <p>Nome da Turma</p>
                <input type="text" placeholder="Ex: Turma 1" id="inputNomeTurma">
            </div>
            <div class="campIdtToggle">
                <div class="campIdt">
                    <p>Código</p>
                    <input type="text" placeholder="Ex: T1" id="inputSiglaDiciplina">
                    <label for="text"></label>
                </div>
                <div class="campIdt">
                    <p>Período</p>
                    <select id="periodoSelect" required>
                        <option value="" disabled selected>Selecione o período</option>
                        <option value="1">1° Semestre</option>
                        <option value="2">2° Semestre</option>
                    </select>
                    <label for="text"></label>
                </div>
            </div>
            <div class="buttonsCheck">
                <button id="cancelBtnIdt">Cancelar</button>
                <button id="createBtnIdt">Criar</button>
            </div>
        </div>
    </div>
    <div class="cardsCreateIdt">
        <!-- ============================================================= -->
        <!-- Aqui o Propio JavaScrip Inplementa no html com innerHtml -->
        <!-- ============================================================= -->

        <!-- <div class="contentCardIdt">
            <i class="ph ph-users" id="turmasIcon"></i>
            <div class="textContentCardIdt">
                <h2></h2>
                <p></p>
                <div class="viewDetails">
                    <div class="code"></div>
                    <div class="period">°</div>
                </div>
            </div>
            <div class="editAndDelet">
                <button class="editCard">
                    <i class="ph ph-pencil-simple"></i>
                </button>
                <button class="deletCard">
                    <i class="ph ph-trash"></i>
                </button>
            </div>
            <div class="notas">
                olatest
            </div>
        </div> -->
    </div>
</div>

<script src="../scripts/turma.js"></script>

</html>